<mat-card>
  <mat-card-title>Pokemon List</mat-card-title>

  <app-loader *ngIf="isLoading$ | async; else loadedTemplate"></app-loader>

  <ng-template #loadedTemplate>
    <mat-card-content>
      <ng-container *ngIf="pokemonList$ | async as pokemonList; else errorTemplate">
        <mat-list>
          <mat-list-item *ngFor="let pokemon of pokemonList">
            <mat-icon matListIcon>star</mat-icon>
            <a [routerLink]="pokemon.id">
              {{ pokemon.name }}
            </a>
          </mat-list-item>
        </mat-list>
      </ng-container>
    </mat-card-content>
  </ng-template>

  <mat-card-footer>
    <app-pagination (pageChange)="loadPage($event)"></app-pagination>
  </mat-card-footer>
</mat-card>

<ng-template #errorTemplate>
  Cannot fetch pokemon list :(
</ng-template>

