<app-loader *ngIf="isLoading$ | async; else loadedTemplate"></app-loader>

<ng-template #loadedTemplate>
  <div class="details-wrapper" *ngIf="pokemon$ | async as pokemon; else errorTemplate">
    <div class="button-wrapper">
      <button mat-fab [routerLink]="['/', (pokemon.id - 1)]" [disabled]="pokemon.id <= 1" >
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>

    <div class="button-wrapper">
      <button mat-fab [routerLink]="['/', (pokemon.id + 1)]" [disabled]="pokemon.id >= pokemonCount">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #errorTemplate>
  Pokemon not found :(
</ng-template>

