mat-toolbar {
  a,
  a:hover,
  a:focus,
  a:visited {
    color: #fff;
    text-decoration: none;
  }
}

.page-content {
  margin: 20px;

  @media screen and (min-width: 1000px) {
    margin: 20px 200px;
  }
}
