@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #eee;
}

.error-or-loading {
  margin: 0 auto;
  text-align: center;

  mat-progress-spinner {
    display: inline-block;
  }
}

a,
a:hover,
a:focus,
a:visited {
  color: #673ab7;
  text-decoration: none;
}
